@font-face {
  font-family: "ttnorms";
  src: url(ttnorms/medium.woff);
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

* {
  font-family: ttnorms;
}

.wrapper {
  width: inherit;
  height: inherit;
  overflow: inherit;
  background: linear-gradient(0deg, #ac60df -44%, #071b5f 102%);
  position: relative;
}

.background {
  transform: rotate(-20deg) translateX(-58vw) translateY(12vh);
  height: 800px;
  width: auto;
  position: absolute;
  z-index: 1;
}

@media only screen and (min-width: 425px) {
  .background {
    transform: rotate(-20deg) translateX(-10vw) translateY(13vh);
  }
}

.home-splash-container {
  position: relative;
  z-index: 2;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo-container {
  width: 100px;
  height: 100px;
  margin-top: 48px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
}

.home-logo-container img {
  width: 100%;
}

.home-text-container {
  text-align: center;
  margin-top: 12px;
}

.home-text-container p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}

.home-footer-container {
  margin-bottom: 40px;
}

button {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 22px 78px;
  border: 0;
  background-color: #ea3f58;
  color: #ffffff;
  border-radius: 41px;
  box-shadow: rgba(9, 65, 125, 0.15);
}

@media only screen and (min-width: 768px) {
  body {
    overflow: visible;
  }
  .mobile {
    display: none;
  }

  .home-wrapper {
    background: linear-gradient(0deg, #ac60df -44%, #071b5f 102%);
    padding: 32px;
    box-sizing: border-box;
    width: inherit;
    height: 342px;
    color: #ffffff;
  }

  .home-logo {
    margin: 0 0 32px 0;
    display: flex;
  }

  .home-logo img {
    width: 41.32px;
    height: 24px;
  }

  .home-logo p {
    margin: 0;
    padding-left: 5px;
    font-size: 20px;
  }

  .home-nav-element-container {
    display: flex;
    justify-content: center;
  }

  .home-circel {
    height: 224px;
    width: 224px;
    /* border: 4px solid rgba(0, 0, 0, 0.1); */
    margin-right: 40px;
    /* background: rgba(225, 225, 225, 0.1); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
  }

  .home-time-container {
    height: 214px;
    width: 214px;
    /* background: rgba(0, 0, 0, 0.1); */
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .home-time-container h6 {
    font-size: 16px;
    margin: 0;
  }

  .home-time-container h3 {
    font-size: 48px;
    margin: 0;
  }

  .home-time-container p {
    font-size: 16px;
    color: #ed882c;
    margin: 0;
  }

  .home-nav-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-title h4 {
    font-size: 24px;
    margin: 0;
  }

  .nav-title p {
    font-size: 16px;
    opacity: 0.5;
    margin: 16px 0;
  }

  .nav-percentage-bar {
    width: 294px;
    height: 78px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    padding: 0 20px;
    margin: 16px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-percentage-bar p {
    font-size: 14px;
    margin: 0;
  }

  .bar-container {
    width: 254px;
    height: 4px;
    background: rgba(225, 225, 225, 0.2);
    border-radius: 2px;
    margin-top: 15px;
  }

  .bar {
    width: 80.5px;
    height: 4px;
    background: #ffffff;
    border-radius: 2px;
  }

  .home-body {
    width: inherit;
    box-sizing: border-box;
    padding: 32px;
    color: #000000;
  }

  .home-body-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 24px;
    margin-bottom: 8px;
  }

  .home-body-header div {
    padding-left: 24px;
  }

  .home-body-header p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
  }

  .home-body-header h3 {
    font-size: 24px;
    margin: 8px 0;
  }

  .home-body-header span {
    color: rgb(69, 206, 165);
  }

  .home-body-header button {
    background: #ffffff;
    border: 1px solid #f1f2f4;
    color: #ea3f58;
    font-size: 16px;
    padding: 16px;
    border-radius: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .home-body-header button img {
    padding-right: 14px;
  }

  .home-body-sections {
    width: 65%;
    display: flex;
    padding: 33px 25px 32px 0;
    margin-left: 25px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  .home-body-sections:last-of-type {
    border-bottom: none;
  }
  /* 
  .home-body-sections:first-of-type
  .home-body-sections:nth-of-type(2) {

  } */

  .section-number {
    width: 56px;
    height: 56px;
    border: 2px solid #b6bfc938;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ea3f58;
    font-size: 20px;
    margin-right: 24px;
  }

  .section-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-class h3 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 8px;
  }

  .section-class p {
    font-size: 16px;
    color: #8c99a6;
    margin: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .home-wrapper {
    width: 33.398%;
    height: 100vh;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .home-logo {
    margin: 32px 25.91px 0 25.91px;
  }

  .home-nav-element-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }

  .home-circel {
    margin: 0 0 32px 0;
    width: 261px;
    height: 261px;
  }

  .home-time-container {
    width: 248px;
    height: 248px;
  }

  .home-time-container h3 {
    font-size: 56px;
  }

  .home-nav-info-container {
    text-align: center;
  }

  .nav-title p {
    margin: 12px 0 0 0;
  }

  .nav-percentage-bar {
    margin-top: 125px;
    background: #ffffff;
    color: #000000;
  }

  .nav-percentage-bar span {
    color: #ea3f58;
  }

  .bar {
    background: #ea3f58;
  }







}
